In [13]:
import pandas as pd
from googletrans import Translator
import time

In [34]:
data_path = '/home/yanghe/Downloads/1001-1500.xlsx'
data_df = pd.read_excel(data_path, header=None)
data_df

,0,1,2
0,1001,a person in a green jacket throws a stick into...,"Жасыл күртедегі ер адам суға таяқ лақтырып, қа..."
1,1002,"A man is standing at edge of a pond , with two...","Ер адам тоғанның жанында екі итпен тұрып, бұта..."
2,1003,A man is throwing a big stick into the water s...,"Ер адам суға үлкен таяқ лақтырды, сондықтан он..."
3,1004,A man is throwing a log into a waterway while ...,Ер адам су жолына ағаш кесегін лақтырып жіберд...
4,1005,Someone is at the water 's edge with two dogs .,Біреу судың жанында екі ит алып жүрді.
...,...,...,...
495,1496,A group of young people take shots in a Mexica...,Мексикада бір топ жастар суретке түсіп жатыр.
496,1497,A group of people at a restaurant about to tak...,Бір топ адам мейрамханада суретке түсуге дайын...
497,1498,Young people in sombreros enjoy shots and drin...,Кең шапан киген жастар ішкенді және ішкенді ұн...
498,1499,A group of people taking shots at a restaurant .,Мейрамханада бір топ адам суретке түсті.
499,1500,People wearing sombreros drink shots happily .,Кең шапан киген адам бақытты ішеді.

In [31]:
en_data = data_df.iloc[:100,1]
en_data

0     A woman with a black shirt and tan apron is st...
1     A female barista dressed in black is making co...
2     A girl in a black shirt is smiling as she work...
3     A happy woman is preparing a refreshment at a ...
4               A young woman is working in a kitchen .
                            ...
95       Two brown dogs run across a large snowy yard .
96         Two brown dogs are running through the snow.
97             two brown dogs running through the snow.
98                 Two dogs race across a snowy field .
99                 Two dogs run through a snowy field .
Name: 1, Length: 100, dtype: object

In [32]:
en_data.to_csv('/home/yanghe/Downloads/501-600_en.csv', index=False, header=False)

In [35]:
data_df[1].to_excel('/home/yanghe/Downloads/1001-1500.xlsx', index=False, header=False)

In [11]:
for index, row in data_df.iterrows():
    print(str(row[1]))
    if index == 3:
        break

A woman with a black shirt and tan apron is standing behind a counter in a restaurant .
A female barista dressed in black is making coffee behind a counter .
A girl in a black shirt is smiling as she works behind a bar .
A happy woman is preparing a refreshment at a coffee shop .

In [5]:
# 设置Google翻译服务地址
# translator = Translator(service_urls=[
#       'translate.google.cn'
# ])
translator = Translator()
translation = translator.translate('A woman with a black shirt and tan apron is standing behind a counter in a restaurant .', dest='zh-CN').text
translation

'一个穿着黑色衬衫和棕褐色围裙的女人站在餐厅的柜台后面。'

In [22]:
zh_text = []

In [36]:
# for index, row in data_df.iterrows():

#     if index < 0:
#         continue

#     time.sleep(10)
#     translation = translator.translate(row[1], dest='zh-CN').text
    
#     if index == 10:
#         break

#     zh_text.append(translation)
    
# print(len(zh_text))

In [ ]:
17805/1000*600=10683